<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" verbose="true" stopOnFailure="true">
    <!-- ... -->
    <testsuites>
        <testsuite name="My Test Suite">
            <directory>tests</directory>
            <file>test.php</file>
            <exclude></exclude>
        </testsuite>
    </testsuites>
</phpunit>